.container {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.threed {
    height: 100vh;
    max-height: 100vh;
    margin: auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navItem {
    margin-inline: 5vh;
    padding: 1vh;
    border-radius: 10%;
}

.navItem:hover {
    background-color: #0070f3;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}